/vendor
/node_modules
/public/media
/public/uploads
/public/js
/public/build
/public/pk/*
/public/phpmy
/resources/assets/js/browserified.js
/resources/assets/js/browserified.js.map
/resources/errors.log
/storage/framework/sessions
.env
Homestead.yaml
Homestead.json
errors.log
/.idea
.idea
worker.log
