.ui-helper-hidden-accessible {
    display: none;
}
.Autocomplete {
    position: relative;
    .loader {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .autocomplete-results {
        position: relative;
        .ui-autocomplete {
            position: absolute;
            background-color: #fff;
            list-style: none;
            padding: 0;
            border: 1px solid #ccc;
            border-top: 0;
            background: #fff;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
            z-index: 1000;
            > li {
                padding: 10px 10px;
                line-height: 15px;
                word-wrap: break-word;
                border-bottom: 1px solid #ddd;
                text-decoration: none;
                display: block;
                color: inherit;
                cursor: pointer;
                &.ui-state-focus {
                    background-color: $brand-primary;
                    color: #fff;
                }            
            }
        }
    }
}

.pac-container {
    z-index: 9999 !important;
}
#pac-input {
    width: initial;
    top: 10px !important;
}
.loader-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    z-index: 2;
    display: none;
    .backdrop {
        position: absolute;        
        background-color: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .9;
    }
    .indicator {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
    }
}